VK_TOKEN="Токен от вашего аккаунта Вконтакте"
CLIENT_ID="CLIENT_ID Вашего приложения"
CLIENT_SECRET="CLIENT_SECRET Вашего приложения"
REDIRECT_URI="http://localhost:5000/callback"
USERNAME="Юзернейм вашего аккаунта Spotify"
DEFAULT_STATUS= ""